.signup{
    border-color: black;
    border: 2px groove;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    background: lightblue;
    
} 


.loginH{
    justify-content: center;
    text-align: center;
}

.button_createaccount{
    margin: 0 auto;
    text-align: center;
    margin-top: 7px;
    border: 1px black solid;
   
    width: 150px;

    background-color: white;
}

.button_createaccount:hover {
    background-color: #eee; 
    color: #000; 
  }