.amount{
    margin-top:20px;
    margin-left:40px;

}

.button1{
    border:1px solid black;
    width:60px;
    margin-top:20px;
    margin-left:40px;
}
.button1:hover {
   
    background-color: grey; 
    color: #000; 
  }